<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1>

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Video Production Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Adobe After Effects</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>

            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Maxon Cinema 4D</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>Adobe Premiere</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="35%">
                <div class="skillbar-title"><span>Element 3D</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">35%</div>
            </div>
            <!-- /.skillbar -->
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Design Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Adobe Photoshop</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>Adobe Illustrator</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Adobe Indesign</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->

             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="35%">
                <div class="skillbar-title"><span>Cinema 4D Renders (Vray and other) </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">35%</div>
            </div>
            <!-- /.skillbar -->
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Other Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Wordpress, Joomla, Opencart</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>HTML, CSS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>MS Office</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title"><span>Hard Work and Dedication</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->
		</div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Music</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Sport</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Reading</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="40%">
                <div class="skillbar-title"><span>Travelling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar -->
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title"><span>Slovenian</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="30%">
                <div class="skillbar-title"><span>German</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="30%">
                <div class="skillbar-title"><span>Croatian</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->



     <!-- .resume-left -->
    <div class="col-md-6 resume-left">
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
          <li class="first">
              <h5>Motion Graphics Designer<span class="duration"><i class="fa fa-calendar color"></i> 2018 -</span></h5>
              <h6><span class="fa fa-briefcase"></span> SPORT COMMENTARY</h6>
              <p>I was working on 3D logo animation with fire effects, combining Cinema4D with After Effects.</p>
          </li>
          <li>
              <h5>Motion Graphics Designer<span class="duration"><i class="fa fa-calendar color"></i> 2018 -</span></h5>
              <h6><span class="fa fa-briefcase"></span> PREMIUM MARKETING</h6>
              <p>I was working on video production which was implemented in marketing strategies. I was also creating web pages with modern interactive video content and company motion graphics presentations. I was creating facebook and youtube motion graphics ads.  Was also in charge of web design, that consisted from landing pages to e-commerce.</p>
          </li>
          <li>
              <h5>Video Editon and Designer <span class="duration"><i class="fa fa-calendar color"></i> 2017 - 2018</span></h5>
              <h6><span class="fa fa-briefcase"></span> FORUM MEDIA GROUP</h6>
              <p>I've been working in marketing department. Designing and producing digital promotion content in Adobe Illustrator, Indesign and Photoshop. Been also working on video production and motion graphic design in Adobe After Effects. I redesigned and refreshed the email and promotion design. Been working on motion graphics videos for lead generation campaign.</p>
          </li>
            <li >
                <h5>Digital Video Editor and <br> Motion Graphics Designer <span class="duration"><i class="fa fa-calendar color"></i> 2013 - 2018</span></h5>
                <h6><span class="fa fa-briefcase"></span> REALITY PRODUCTION</h6>
                <p>Reality Production is a video production company that shoots and edits videos with VFX effects. We were working on various video and film projects that included producing music videos, filming nature landscapes and designing commercials. I've also been working on some 3D animation in Cinema 4D, that was included as special effects in a video.</p>
            </li>




        </ul>
        <!-- /.attributes -->
        <br>

        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Computer Techinitian, Programmer and Designer <span class="duration"><i class="fa fa-calendar color"></i> 2011 - 2015</span></h5>
                <h6><span class="fa fa-book"></span> High School of electrical engineering and computing science - Ptuj, Slovenia</h6>
                <p></p>
            </li>
            <li>
                <h5>Bachelor of Media Communication <span class="duration"><i class="fa fa-calendar color"></i> 2015 - 2018</span></h5>
                <h6><span class="fa fa-book"></span> FACULTY OF ELECTIRCAL ENGINEERING AND COMPUTER SCIENCE - University of Maribor, Slovenia</h6>
                <p>In my years of study I specialised in Visual Communication which greatly aided to my Design and Video skills. </p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>


          <!-- .title_content
        <div class="title_content">
            <div class="text_content">Awards</div>
            <div class="clear"></div>
        </div>  -->
        <!-- /.title_content -->

        <!-- .attributes
        <ul class="attributes">
            <li class="first">
                <h5>Graphic &amp; Art Direction <span class="duration"><i class="fa fa-calendar color"></i> 2013 - 2014</span></h5>
                <h6><span class="fa fa-trophy"></span> Name of Institute</h6>
                <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>
            </li>
            <li>
                <h5>Design &amp; Art Direction <span class="duration"><i class="fa fa-calendar color"></i> 2012 - 2013</span></h5>
                <h6><span class="fa fa-trophy"></span> Name of Institute</h6>
                <p>Emi Phasellus congue auctor risuspon, eget males. Pellentes que un imperdiet, odio quis orn sollicitud. Sed vitae lectus elementum mauris.</p>
            </li>

        </ul> -->
        <!-- /.attributes -->
        <br>

    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>


<!-- client reference -->
<div class="row">
<div class="col-md-12">

<div class="reference clearfix">

         <!-- .title_content
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Client reference</div>
            <div class="clear"></div>
        </div>
-->

        <!-- /.title_content


        <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
                <span>John Doe, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
                <span>Leia Calvi, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
                <span>Maria Callas, UX Designer</span>
            </li>
        </ul>
        -->
</div>
</div>


<div style="clear: both"></div>
</div>

</div>
<!-- End .resume -->
