<!-- .portfolio -->
<div id="portfolio" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catMotion catVideo catGraphic catWeb catMyprojects">All</span></li>
            <li><span class="filter" data-filter="catMotion">Motion Graphics</span></li>
            <li><span class="filter" data-filter="catVideo">Video Production</span></li>
            <li><span class="filter" data-filter="catGraphic">Graphic Design</span></li>
            <li><span class="filter" data-filter="catWeb">Web Design</span></li>
            <li><span class="filter" data-filter="catMyprojects">My Projects</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">


                                                                   <!--        *******************************    WEB DESIGN ****************************************  -->
                                                                      <!--        *******************************    WEB DESIGN ****************************************  -->
                                                                         <!--        *******************************    WEB DESIGN ****************************************  -->
                                                                            <!--        *******************************    WEB DESIGN ****************************************  -->
            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="Catweb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/1.jpg" rel="portfolio" title="Design and development of e-commerce site Bella Medicus from scratch. Made website in Wordpress with Woocomerce plugin. Designed the brand logo and all graphics on the site. I used my HTML CSS, JavaScipt, DB knowledge to contruct the site. For design I used Adobe Illustrator with combination of Photoshop. Did this site for company Destinatum.">


                            <img src="images/portfolio/1.jpg" alt="Web Design" />

                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Bella Medicus</a>
                                <span class="text-category">Destinatum d.o.o.</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->


            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="Catweb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/2.png" rel="portfolio" title="Design and development of e-commerce site Bella Medicus from scratch. Made website in Wordpress with Woocomerce plugin. Designed the brand logo and all graphics on the site. I used my HTML CSS, JavaScipt, DB knowledge to contruct the site. For design I used Adobe Illustrator with combination of Photoshop. Did this site for company Destinatum.">


                            <img src="images/portfolio/2.png" alt="Web Design" />

                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Bella Medicus</a>
                                <span class="text-category">Destinatum d.o.o.</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="Catweb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/3.png" rel="portfolio" title="Design and development of e-commerce site Bella Medicus from scratch. Made website in Wordpress with Woocomerce plugin. Designed the brand logo and all graphics on the site. I used my HTML CSS, JavaScipt, DB knowledge to contruct the site. For design I used Adobe Illustrator with combination of Photoshop. Did this site for company Destinatum.">


                            <img src="images/portfolio/3.png" alt="Web Design" />

                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Bella Medicus</a>
                                <span class="text-category">Destinatum d.o.o.</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/9.jpg" rel="portfolio" title="Colaborated in the design and blueprinting of the webpage. Also made on-site SEO strategy, so the webpage gained first position in only three months.">

                        <img src="images/portfolio/9.jpg" alt="Web design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Lunos Main Webpage</a>
                                <span class="text-category">Premium Marketing</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->


            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/4.jpg" rel="portfolio" title="Designed and developed the webpage. The site contained logical links and keywords, which allowed the main site to gain high ranking on SEO campaing.">

                        <img src="images/portfolio/4.jpg" alt="Web design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Lunos SEO blog</a>
                                <span class="text-category">Premium Marketing</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->


            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/6.png" rel="portfolio" title="Design and developed e-commerce site Ambasda Zdravja in Opencart. Designed the graphics on the site from slider to other banners. Used my knowledge of HTML, CSS and JavaScript for development. Graphics were made in Illustrator and Photoshop. Did this site in Premium Marketing.">

                        <img src="images/portfolio/6.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Ambasada Zdravja</a>
                                <span class="text-category">Premium Marketing</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->


            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/7.png" rel="portfolio" title="Design and developed e-commerce site Ambasda Zdravja in Opencart. Designed the graphics on the site from slider to other banners. Used my knowledge of HTML, CSS and JavaScript for development. Graphics were made in Illustrator and Photoshop. Did this site in Premium Marketing.">

                        <img src="images/portfolio/7.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Ambasada Zdravja</a>
                                <span class="text-category">Premium Marketing</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/8.png" rel="portfolio" title="Design and developed e-commerce site Ambasda Zdravja in Opencart. Designed the graphics on the site from slider to other banners. Used my knowledge of HTML, CSS and JavaScript for development. Graphics were made in Illustrator and Photoshop. Did this site in Premium Marketing.">

                        <img src="images/portfolio/8.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Ambasada Zdravja</a>
                                <span class="text-category">Premium Marketing</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->






                                                                                          <!--        *******************************   GRAPHIC DESIGN  ****************************************  -->
                                                                                              <!--        *******************************   GRAPHIC DESIGN  ****************************************  -->
                                                                                                  <!--        *******************************   GRAPHIC DESIGN  ****************************************  -->
                                                                                                      <!--        *******************************   GRAPHIC DESIGN  ****************************************  -->
                                                                                                          <!--        *******************************   GRAPHIC DESIGN  ****************************************  -->



              <!-- .portfolio -->
              <div class="portfolio catGraphic" data-cat="catGraphic">
                  <!-- .portfolio-wrapper -->
                  <div class="portfolio-wrapper">
                      <a href="images/portfolio/10_2.png" rel="portfolio" title="Designed Corporate Visual Identity including Logo, Businesscard, Letter, Cover Letter, and Products such as USB, CD, Mugs, T-Shirts, Pullovers ...">
                          <img src="images/portfolio/10_22.png" alt="Graphic Design" />
                          <div class="label">
                              <div class="label-text">
                                  <a class="text-title">Corporate Visual Image (CI)</a>
                                  <span class="text-category">Reality Production</span>
                              </div>
                              <div class="label-bg"></div>
                          </div>
                      </a>
                  </div>
                  <!-- /.portfolio-wrapper -->
              </div>
              <!-- /.portfolio -->

              <!-- .portfolio -->
              <div class="portfolio catGraphic" data-cat="catGraphic">
                  <!-- .portfolio-wrapper -->
                  <div class="portfolio-wrapper">
                      <a href="images/portfolio/10_33.png" rel="portfolio" title="Designed Corporate Visual Identity including Logo, Businesscard, Letter, Cover Letter, and Products such as USB, CD, Mugs, T-Shirts, Pullovers ...">
                          <img src="images/portfolio/10_3.png" alt="Graphic Design" />
                          <div class="label">
                              <div class="label-text">
                                  <a class="text-title">Corporate Visual Image (CI)</a>
                                  <span class="text-category">Reality Production</span>
                              </div>
                              <div class="label-bg"></div>
                          </div>
                      </a>
                  </div>
                  <!-- /.portfolio-wrapper -->
              </div>
              <!-- /.portfolio -->

              <!-- .portfolio -->
              <div class="portfolio catGraphic" data-cat="catGraphic">
                  <!-- .portfolio-wrapper -->
                  <div class="portfolio-wrapper">
                      <a href="images/portfolio/10_44.png" rel="portfolio" title="Designed Corporate Visual Identity including Logo, Businesscard, Letter, Cover Letter, and Products such as USB, CD, Mugs, T-Shirts, Pullovers ...">
                          <img src="images/portfolio/10_4.png" alt="Graphic Design" />
                          <div class="label">
                              <div class="label-text">
                                  <a class="text-title">Corporate Visual Image (CI)</a>
                                  <span class="text-category">Reality Production</span>
                              </div>
                              <div class="label-bg"></div>
                          </div>
                      </a>
                  </div>
                  <!-- /.portfolio-wrapper -->
              </div>
              <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/10_1.png" rel="portfolio" title="Redesigning the image of the manuals FMG is selling. The pictures were used on web, in email marketing and in order forms. ">
                        <img src="images/portfolio/10.png" alt="Graphic Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Renovation of the manuals</a>
                                <span class="text-category">Forum Media Group</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/11_1.png" rel="portfolio" title="Redesigning the graphic of the manuals FMG is selling. The pictures were used on web, in email marketing and in order forms. ">
                        <img src="images/portfolio/11.png" alt="Graphic Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Renovation of the manuals</a>
                                <span class="text-category">Forum Media Group</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/12_2.png" rel="portfolio" title="Redesigning the graphic of the manuals FMG is selling. The pictures were used on web, in email marketing and in order forms. ">
                        <img src="images/portfolio/12.jpg" alt="Graphic Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Renovation of the manuals</a>
                                <span class="text-category">Forum Media Group</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->




            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/13_1.jpg" rel="portfolio" title="Redesigning the graphic of the manuals FMG is selling. The pictures were used on web, in email marketing and in order forms. ">
                        <img src="images/portfolio/13.jpg" alt="Graphic Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Renovation of the manuals</a>
                                <span class="text-category">Forum Media Group</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->




            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/14_1.png" rel="portfolio" title="Redesigning the graphic of the manuals FMG is selling. The pictures were used on web, in email marketing and in order forms. ">
                        <img src="images/portfolio/14.png" alt="Graphic Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Renovation of the manuals</a>
                                <span class="text-category">Forum Media Group</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->


            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/15_1.png" rel="portfolio" title="Redesigning the graphic of the manuals FMG is selling. The pictures were used on web, in email marketing and in order forms. ">
                        <img src="images/portfolio/15.png" alt="Graphic Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Renovation of the manuals</a>
                                <span class="text-category">Forum Media Group</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/16.png" rel="portfolio" title="Redesigning the graphic of the manuals FMG is selling. The pictures were used on web, in email marketing and in order forms. ">
                        <img src="images/portfolio/16.png" alt="Graphic Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Renovation of the manuals</a>
                                <span class="text-category">Forum Media Group</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->




            <!-- .portfolio -->
            <div class="portfolio catGraphic" data-cat="catGraphic">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/17.jpg" rel="portfolio" title="Graphic being used in email marketing and on the web.">
                        <img src="images/portfolio/17.jpg" alt="Graphic Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Email Marketing Graphic</a>
                                <span class="text-category">Forum Media Group</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->


                        <!-- .portfolio -->
                        <div class="portfolio catGraphic" data-cat="catGraphic">
                            <!-- .portfolio-wrapper -->
                            <div class="portfolio-wrapper">
                                <a href="images/portfolio/18.jpg" rel="portfolio" title="Graphic being used in email marketing and on the web.">
                                    <img src="images/portfolio/18.jpg" alt="Graphic Design" />
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title">Email Marketing Graphic</a>
                                            <span class="text-category">Forum Media Group</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.portfolio-wrapper -->
                        </div>
                        <!-- /.portfolio -->

                        <!-- .portfolio -->
                        <div class="portfolio catGraphic" data-cat="catGraphic">
                            <!-- .portfolio-wrapper -->
                            <div class="portfolio-wrapper">
                                <a href="images/portfolio/19.jpg" rel="portfolio" title="Graphic being used in email marketing and on the web.">
                                    <img src="images/portfolio/19.jpg" alt="Graphic Design" />
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title">Email Marketing Graphic</a>
                                            <span class="text-category">Forum Media Group</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.portfolio-wrapper -->
                        </div>
                        <!-- /.portfolio -->

                        <!-- .portfolio -->
                        <div class="portfolio catGraphic" data-cat="catGraphic">
                            <!-- .portfolio-wrapper -->
                            <div class="portfolio-wrapper">
                                <a href="images/portfolio/20.jpg" rel="portfolio" title="Graphic being used in email marketing and on the web.">
                                    <img src="images/portfolio/20.jpg" alt="Graphic Design" />
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title">Email Marketing Graphic</a>
                                            <span class="text-category">Forum Media Group</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.portfolio-wrapper -->
                        </div>
                        <!-- /.portfolio -->
                        <!-- .portfolio -->
                        <div class="portfolio catGraphic" data-cat="catGraphic">
                            <!-- .portfolio-wrapper -->
                            <div class="portfolio-wrapper">
                                <a href="images/portfolio/21_1.jpg" rel="portfolio" title="Graphic being used in email marketing and on the web.">
                                    <img src="images/portfolio/21.jpg" alt="Graphic Design" />
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title">Email Marketing Graphic</a>
                                            <span class="text-category">Forum Media Group</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.portfolio-wrapper -->
                        </div>
                        <!-- /.portfolio -->

                        <!-- .portfolio -->
                        <div class="portfolio catGraphic" data-cat="catGraphic">
                            <!-- .portfolio-wrapper -->
                            <div class="portfolio-wrapper">
                                <a href="images/portfolio/22.jpg" rel="portfolio" title="Graphic being used in email marketing and on the web.">
                                    <img src="images/portfolio/22.jpg" alt="Graphic Design" />
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title">Email Marketing Graphic</a>
                                            <span class="text-category">Forum Media Group</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.portfolio-wrapper -->
                        </div>
                        <!-- /.portfolio -->



                        <!-- .portfolio -->
                        <div class="portfolio catGraphic" data-cat="catGraphic">
                            <!-- .portfolio-wrapper -->
                            <div class="portfolio-wrapper">
                                <a href="images/portfolio/23.jpg" rel="portfolio" title="Graphic being used in email marketing and on the web.">
                                    <img src="images/portfolio/23.jpg" alt="Graphic Design" />
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title">Email Marketing Graphic</a>
                                            <span class="text-category">Forum Media Group</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.portfolio-wrapper -->
                        </div>
                        <!-- /.portfolio -->

                        <!-- .portfolio -->
                        <div class="portfolio catGraphic" data-cat="catGraphic">
                            <!-- .portfolio-wrapper -->
                            <div class="portfolio-wrapper">
                                <a href="images/portfolio/24.jpg" rel="portfolio" title="Graphic being used in email marketing and on the web.">
                                    <img src="images/portfolio/24.jpg" alt="Graphic Design" />
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title">Email Marketing Graphic</a>
                                            <span class="text-category">Forum Media Group</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.portfolio-wrapper -->
                        </div>
                        <!-- /.portfolio -->

                        <!-- .portfolio -->
                        <div class="portfolio catGraphic" data-cat="catGraphic">
                            <!-- .portfolio-wrapper -->
                            <div class="portfolio-wrapper">
                                <a href="images/portfolio/25.jpg" rel="portfolio" title="Graphic being used in email marketing and on the web.">
                                    <img src="images/portfolio/25.jpg" alt="Graphic Design" />
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title">Email Marketing Graphic</a>
                                            <span class="text-category">Forum Media Group</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.portfolio-wrapper -->
                        </div>
                        <!-- /.portfolio -->

                        <!-- .portfolio -->
                        <div class="portfolio catGraphic" data-cat="catGraphic">
                            <!-- .portfolio-wrapper -->
                            <div class="portfolio-wrapper">
                                <a href="images/portfolio/26.jpg" rel="portfolio" title="Graphic being used in email marketing and on the web.">
                                    <img src="images/portfolio/26.jpg" alt="Graphic Design" />
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title">Email Marketing Graphic</a>
                                            <span class="text-category">Forum Media Group</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.portfolio-wrapper -->
                        </div>
                        <!-- /.portfolio -->


                        <!-- .portfolio -->
                        <div class="portfolio catGraphic" data-cat="catGraphic">
                            <!-- .portfolio-wrapper -->
                            <div class="portfolio-wrapper">
                                <a href="images/portfolio/27.jpg" rel="portfolio" title="Graphic being used in email marketing and on the web.">
                                    <img src="images/portfolio/27.jpg" alt="Graphic Design" />
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title">Email Marketing Graphic</a>
                                            <span class="text-category">Forum Media Group</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.portfolio-wrapper -->
                        </div>
                        <!-- /.portfolio -->


                        <!-- .portfolio -->
                        <div class="portfolio catGraphic" data-cat="catGraphic">
                            <!-- .portfolio-wrapper -->
                            <div class="portfolio-wrapper">
                                <a href="images/portfolio/28.png" rel="portfolio" title="Front page designed for e-Book which was used for lead generation campaing.">
                                    <img src="images/portfolio/28.png" alt="Graphic Design" />
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title">Lead Generation Campaing</a>
                                            <span class="text-category">Forum Media Group</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.portfolio-wrapper -->
                        </div>
                        <!-- /.portfolio -->



                        <!-- .portfolio -->
                        <div class="portfolio catGraphic" data-cat="catGraphic">
                            <!-- .portfolio-wrapper -->
                            <div class="portfolio-wrapper">
                                <a href="images/portfolio/29.png" rel="portfolio" title="Front page designed for e-Book which was used for lead generation campaing.">
                                    <img src="images/portfolio/29.png" alt="Graphic Design" />
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title">Lead Generation Campaing</a>
                                            <span class="text-category">Forum Media Group</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.portfolio-wrapper -->
                        </div>
                        <!-- /.portfolio -->



                        <!-- .portfolio -->
                        <div class="portfolio catGraphic" data-cat="catGraphic">
                            <!-- .portfolio-wrapper -->
                            <div class="portfolio-wrapper">
                                <a href="images/portfolio/30.png" rel="portfolio" title="Front page designed for e-Book which was used for lead generation campaing.">
                                    <img src="images/portfolio/30.png" alt="Graphic Design" />
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title">Lead Generation Campaing</a>
                                            <span class="text-category">Forum Media Group</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.portfolio-wrapper -->
                        </div>
                        <!-- /.portfolio -->




                        <!-- .portfolio -->
                        <div class="portfolio catGraphic" data-cat="catGraphic">
                            <!-- .portfolio-wrapper -->
                            <div class="portfolio-wrapper">
                                <a href="images/portfolio/31.jpg" rel="portfolio" title="Postcard graphics used for print.">
                                    <img src="images/portfolio/31.jpg" alt="Graphic Design" />
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title">Postcard Graphic</a>
                                            <span class="text-category">Forum Media Group</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.portfolio-wrapper -->
                        </div>
                        <!-- /.portfolio -->



                        <!-- .portfolio -->
                        <div class="portfolio catGraphic" data-cat="catGraphic">
                            <!-- .portfolio-wrapper -->
                            <div class="portfolio-wrapper">
                                <a href="images/portfolio/32.jpg" rel="portfolio" title="Postcard graphics used for print.">
                                    <img src="images/portfolio/32.jpg" alt="Graphic Design" />
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title">Postcard Graphic</a>
                                            <span class="text-category">Forum Media Group</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.portfolio-wrapper -->
                        </div>
                        <!-- /.portfolio -->




                                                                                                                  <!--        *******************************   VIDEO PRODUCTION  ****************************************  -->
                                                                                                                      <!--        *******************************   VIDEO PRODUCTION  ****************************************  -->
                                                                                                                          <!--        *******************************   VIDEO PRODUCTION  ****************************************  -->
                                                                                                                              <!--        *******************************   VIDEO PRODUCTION  ****************************************  -->
                                                                                                                                  <!--        *******************************   VIDEO PRODUCTION  ****************************************  -->




              <!-- .portfolio -->
              <div class="portfolio catVideo" data-cat="catVideo">
                  <!-- .portfolio-wrapper -->
                  <div class="portfolio-wrapper">
                      <a href="https://www.youtube.com/watch?v=F9_D3eILtGg&feature=youtu.be" rel="portfolio" title="I've Filmed, Edited and designed Motion Graphics for the presentation of manual Planning Activities For Preschool Children. It was used in the email and web campaign and was a great success.">
                          <img src="images/portfolio/33.jpg" alt="Video Production" />
                          <div class="label">
                              <div class="label-text">
                                  <a class="text-title">Video Presentation of Manual</a>
                                  <span class="text-category">Forum Media Group</span>
                              </div>
                              <div class="label-bg"></div>
                          </div>
                      </a>
                  </div>
                  <!-- /.portfolio-wrapper -->
              </div>
              <!-- /.portfolio -->

              <!-- .portfolio -->
              <div class="portfolio catVideo" data-cat="catVideo">
                  <!-- .portfolio-wrapper -->
                  <div class="portfolio-wrapper">
                      <a href="https://youtu.be/trzTQeNqkww" rel="portfolio" title="Edited and designed Motion Graphics for the presentation of Excell tutorial library. It was used in the Lead Generation campaign and was a great success.">
                          <img src="images/portfolio/34.jpg" alt="Video Production" />
                          <div class="label">
                              <div class="label-text">
                                  <a class="text-title">Excell Tutorial for Lead Generation</a>
                                  <span class="text-category">Forum Media Group</span>
                              </div>
                              <div class="label-bg"></div>
                          </div>
                      </a>
                  </div>
                  <!-- /.portfolio-wrapper -->
              </div>
              <!-- /.portfolio -->

              <!-- .portfolio -->
              <div class="portfolio catVideo" data-cat="catVideo">
                  <!-- .portfolio-wrapper -->
                  <div class="portfolio-wrapper">
                      <a href="https://youtu.be/aHjsAya_vIw" rel="portfolio" title="Edited and designed Motion Graphics for the presentation of website for e-Manual. It was used for email and web campaign.">
                          <img src="images/portfolio/35.jpg" alt="Video Production" />
                          <div class="label">
                              <div class="label-text">
                                  <a class="text-title">Motion Graphic Presentation of Web Site e-Kadrovik.si </a>
                                  <span class="text-category">Forum Media Group</span>
                              </div>
                              <div class="label-bg"></div>
                          </div>
                      </a>
                  </div>
                  <!-- /.portfolio-wrapper -->
              </div>
              <!-- /.portfolio -->

              <!-- .portfolio -->
              <div class="portfolio catVideo" data-cat="catVideo">
                  <!-- .portfolio-wrapper -->
                  <div class="portfolio-wrapper">
                      <a href="https://youtu.be/PFf_1tUmX_s" rel="portfolio" title="The video was produced as a presentation video for companies to enroll into a internal education program. I filmed, coreographed and planned the scene. Set the cameras and made sure for the correct lighting and background. Due to lack of time and other project, I did not edited the video.">
                          <img src="images/portfolio/36.jpg" alt="Video Production" />
                          <div class="label">
                              <div class="label-text">
                                  <a class="text-title">Presentation Video for Internal Education</a>
                                  <span class="text-category">Forum Media Group</span>
                              </div>
                              <div class="label-bg"></div>
                          </div>
                      </a>
                  </div>
                  <!-- /.portfolio-wrapper -->
              </div>
              <!-- /.portfolio -->

              <!-- .portfolio -->
              <div class="portfolio catVideo" data-cat="catVideo">
                  <!-- .portfolio-wrapper -->
                  <div class="portfolio-wrapper">
                      <a href="https://youtu.be/QdOO7XZFDho" rel="portfolio" title="My task was to convert allready made logo into live animation. My biggest challenge was creating the exact shade of flame, combining with the background. The client was pleased with the results, and used the animation in their product presentation.">
                          <img src="images/portfolio/37.jpg" alt="Video Production" />
                          <div class="label">
                              <div class="label-text">
                                  <a class="text-title">Animation of the Logo</a>
                                  <span class="text-category">Demiro LTD</span>
                              </div>
                              <div class="label-bg"></div>
                          </div>
                      </a>
                  </div>
                  <!-- /.portfolio-wrapper -->
              </div>
              <!-- /.portfolio -->




            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
