<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">

        <!--About me-->
        <div class="title_content">
            <div class="text_content">Uros Kete</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Uros Kete</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">January 13, 1996</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Location</label>
                <span class="value">Caynan Court 9, Salter Street <br> E14 8NW, London</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">kete.uros@gmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+44 7907079 888</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">keteuros.com</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>
            Dynamic and result-oriented professional with three years of experience in Video Production and Web Design. Highly skilled and creative Video Editor with experience in all aspects of video production. Able to handle multiple projects simuntaneously with ease and professionalism.
        </p>

         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>
I am enthusiastic about new technologies and new scientific discoveries. I like playing sports, mostly tennis and cycling.
        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">



            <video autoplay loop muted>
              <source src="images/portfolio_1.mp4" type="video/mp4">
            </video>
            <!-- <div class="cycle-slideshow">
        </div> -->

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">In what I'm best</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tag"></i></div>
                <div class="service-detail">
                    <h6>Creating Excellent Video Content</h6>
                    <p>My main passions are motion graphics - 2D and also 3D. I also like creating creative video content in which I implement all of my design and video production knowledge.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-cogs"></i></div>
                <div class="service-detail">
                    <h6>Problem Solving</h6>
                    <p>If I encounter a problem, I calmly solve it in no time.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-arrows-alt"></i></div>
                <div class="service-detail">
                    <h6>Broadening my knowledge</h6>
                    <p>I love learning new technologies and new things. My moto is to learn as much as I can.</p>
                </div>
            </div>
        </div>
     </div>
</div><!-- End Services -->



<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">My most commonly used software</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            Maxon Cinema 4D
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  I use C4D for 3D motion graphics which I later implement in After Effects. I also render model and  render 3D objects and sometimes use them in animations.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                          Adobe After Effects
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> I use AE for making interactive motion graphics and I'm combining it with C4D for great results. I use it to edit video footage with various plugins.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                            Adobe Photoshop
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>I know my way around this program and is beaing used on daily basis for everything.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile -->
